<footer>

    <div style="background-color: blue; display: flex;">
        contact us: hello@abc.com <br/>
        Phone no: +91 4567890890
        <p>&copy; <script>document.write(new Date().getFullYear())</script>All rights reserved.</p>
    </div>

 
    <script src="/app.js"></script>
</footer>

</html>