<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page.</h1>
    <h3> <%= 1 + 2 %></h3> <!-- EJS syntax reference from: https://ejs.co/ -->
    <h4> <%= "ApnaRoom".toUpperCase() %></h4>
    <h5> <%= ["hello", "hii", "namaskar"][1] %></h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste alias totam temporibus molestiae ducimus laudantium illum odit soluta harum amet possimus sequi, libero praesentium sint cum, omnis tempora, earum maxime!</p> 
    <button>Click me!</button>
</body>
</html>